@import 'fonts';
//@import 'misvariables';
@import 'misvariables2';
@import 'bootstrap/bootstrap';

body{
    padding-top: 80px;
}

.control-label{
    text-align: right;
    font-weight: 800;
    padding-top: 7px;
}